body {
  margin: 0 auto;
  background-color: #000000;
  padding: 2%;
}

table {
  margin: 0 auto;
  width: 40%;
  padding: 2%;
  margin-bottom: 1%;
}

td {
  width: 33.333%;
  border: 25px solid black;
  border-radius: 45px;
}

td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

.footer {
  padding-top: : 5%;
  background-color: rgba(152, 0, 235, 0.91);
  width: 50%;
  height: 5%;
  margin: auto;
}

button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  width: 80px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  background-color: white;
}

#scores{
  text-align: right;
  margin: 1%;
}

#center {
  background-color: rgba(255, 255, 255, 0.69);
  border: 3px solid #ffffff;
}

#red {
  background-color: #3e181b;
  border: 3px solid #db1d2d;
}

#blue {
  background-color: #18323e;
  border: 3px solid #1a9ddb;
}

#yellow {
  background-color: #45391b;
  border: 3px solid #fec02d;
}

#green {
  background-color: #193c29;
  border: 3px solid #20d071;
}

#red.selected {
  background-color: red;
  border: 5px solid #db1d2d;
}

#green.selected {
  background-color: green;
  border: 5px solid #20d071;
}

#yellow.selected {
  background-color: yellow;
  border: 5px solid #fec02d;
}

#blue.selected {
  background-color: blue;
  border: 5px solid #1a9ddb;
}

#center.active {
  background-color: rgba(255, 255, 255, .9);
  border: 5px solid #ffffff;
}
