body {
  margin: 0 auto;
  background-color: #000000;
  padding: 2%;
}

table {
  margin: 0 auto;
  width: 40%;
  border-collapse: collapse;
  padding: 2%;
  margin-bottom: 1%;
}

td {
  width: 33.333%;
  border: 15px solid black;
  border-radius: 45px;
}

td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

td:first-of-type {
  /*border-left-color: red;
  border-top-color: blue;*/
}
td:nth-of-type(2) {
  /*border-top-color: blue;*/
}
td:nth-of-type(3) {
  /*border-right-color: red;
  border-top-color: blue;*/
}
tr:nth-of-type(3) td {
  /*border-bottom-color: red;*/
}

.footer {
  padding-top: : 5%;
  background-color: rgba(152, 0, 235, 0.91);
  width: 50%;
  height: 5%;
  margin: auto;
}

button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  width: 80px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#scores{
  text-align: right;
  margin: 1%;
}

#center {
  background-color: rgba(255, 255, 255, 0.69);
}

/*#empty {
  background-color: purple;
}*/

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}
