body {
  margin: 0 auto;
  background-color: #000000;
  padding: 2%;
}

table {
  margin: 0 auto;
  width: 40%;
  padding: 2%;
  margin-bottom: 1%;
}

td {
  width: 33.333%;
  border: 25px solid black;
  border-radius: 45px;
  overflow: hidden;
}

td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

.container {
  height: 1200px;
  width: 1200px;
  margin: auto;
}

.circle:before {
  content: ' \25CF';
  font-size: 50px;
}

.x:before {
  content: ' \2718';
  font-size: 50px;
  color: red;
}

#header {
  text-align: center;
  padding-bottom: 15px;
  /*width: 50%;*/
  height: 30px;
  /*margin: 1%;*/
}

#input-box {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.footer {
  padding-top: : 5%;
  background-color: rgba(152, 0, 235, 0.6);
  width: auto;
  /*height: 3%;
  margin: auto;*/
}

button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  width: 80px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  background-color: white;
}

.large {
  font-size: 45px;
}

#scores{
  text-align: right;
  margin: 1%;
}

/* Game Buttons */

#center {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #ffffff;
}

#red {
  background-color: rgba(255, 0, 0, .4);
  border: 3px solid #db1d2d;
}

#blue {
  background-color: rgba(0, 0, 255, .4);
  border: 3px solid #1a9ddb;
}

#yellow {
  background-color: rgba(255,255,0, .4);
  border: 3px solid #fec02d;
}

#green {
  background-color: rgba(0, 255, 0, .4);
  border: 3px solid #20d071;
}

/* Game Buttons - Active */

#red.selected {
  background-color: rgba(255, 0, 0, 1);
  border: 5px solid #db1d2d;
}

#green.selected {
  background-color: rgba(0, 255, 0, 1);
  border: 5px solid #20d071;
}

#yellow.selected {
  background-color: rgba(255,255,0, 1);
  border: 5px solid #fec02d;
}

#blue.selected {
  background-color: rgba(0, 0, 255, 1);
  border: 5px solid #1a9ddb;
}

#center.active {
  background-color: rgba(255, 255, 255, 1);
  border: 5px solid #ffffff;
}
